* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.btn {
  background-color: #6365d1;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* ------------------------------ */
/* ---------- HEADER ------------ */
/* ------------------------------ */

nav {
  min-height: 20vh;
  display: flex;
  gap: 70px;
  align-items: center;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-link {
  color: #999;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #222;
}

.nav-link-active {
  color: #222;
  font-weight: 500;
}

.nav-btn {
  margin-left: auto;
  padding: 10px 24px;
}

/* ------------------------------ */
/* ----------- HERO ------------- */
/* ------------------------------ */

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  width: 35%;
}

.hero-textbox h1 {
  color: #222;
  font-size: 58px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}

.hero-textbox h1 span {
  color: #6365d1;
}

.hero-textbox p {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 36px;
}

.hero-btn {
  padding: 14px 32px;
}

.hero-img {
  position: absolute;
  width: 50%;
  right: 0;
  top: 16vh;
}
